__pycache__
setup.py
zheck_pkcg.py
zgen_dist.py
.venv
bintang.egg-info
build
dist
test/*
testbm
testsql
temp
zample_setup.py
zetup_data.yaml
zetup_steps.txt
zpublish_patch.py
zpublish.py
znotes.txt
zetup_script.py
