__pycache__
archive/
setup.py
zheck_pkcg.py
zgen_dist.py
.venv/
*.egg-info/
build/
dist/
pytest/
test/
testbm/
testsql/
test_be/
tests_dev
temp/
zample_setup.py
zetup_data.yaml
zetup_steps.txt
zpublish_patch.py
zpublish.py
znotes.txt
zetup_script.py
ztest.py
ztodo.txt
pytest_cache

